div {
    border: 10px solid darkcyan;
    margin: 10px;
    width: 150px;
    height: 150px;
  }
  
  #red {
    background-color: red;
  }
  
  #green {
    background-color: green;
  }
  
  #blue {
    background-color: blue;
  }
  
  #orange {
    background-color: orange;
  }
  
  #purple {
    background-color: purple;
  }
  
  #brown {
    background-color: bn;
  }
  
  /* START BELOW THIS LINE */

  #red{
    transition: width 3s;
  }

  #red:hover{
    width: 300px;
  }

  #green{
    transition:transform 2s linear 1s;
   
  }

    #green:hover{
background-color: yellow;
 transform: rotate(360deg);
  }

  #blue {
    animation-name: expand;
    animation-duration: 8s;
  }
  
  @keyframes expand {
    0% {
      width: 150px;
    }
    50% {
      width: 450px;
    }
    100% {
      width: 150px;
    }
  }